In [1]:
import pandas as pd
import pyodbc

In [2]:
server = '20.106.135.81'
user = 'BI_SQL'
password = 'D4t4_$21.5'

In [5]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};SERVER='+server+';UID='+user+';PWD='+password)

In [6]:
query = 'SELECT * FROM BI_TEST.dbo.VW_People_Clean'

In [8]:
df = pd.read_sql(query, conn)

In [9]:
df.head()

   Year             Age                       Area    Ethnic   Sex count
0  2006  Under 15 years                 North Cape  European  Male    57
1  2006  Under 15 years           Rangaunu Harbour  European  Male   141
2  2006  Under 15 years  Inlets Far North District  European  Male   ..C
3  2006  Under 15 years         Karikari Peninsula  European  Male    45
4  2006  Under 15 years                   Tangonge  European  Male    69